<div class="todo">
    <h3>todos</h3>
    <p>
        <input placeholder="todo-list" class="input JS-input">
        <button class="add JS-add">添加</button>
    </p>
    <ul class="todo-list JS-todo-list">LIST</ul>
</div>